input {
    border: 0px;
}

.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 350px;
}

.popup__input:hover {
    cursor: text;
    border: 2px solid rgb(0, 0, 0);
}

.popup__input_type_name {
    margin-bottom: 57px;
}